body {
  font-family: Arial;
  padding: 20px;
  background-color: #D2FDFF;
  text-align: center;
}
h1 {
  color: #2B2C28;
}
p {
  color: #000000;
}
.card {
  width: 75%;
  background-color: #38BDFF;
  border-radius: 10px;
  text-align: center;
}
h3 {
  text-decoration: underline;
  color: #2B2C28;
}
other colors: #3ABEFF #26FFE6
