body {
  font-family: Arial;
  padding: 20px;
  background-color: #3ABEFF;
  text-align: center;
}
h1 {
  color: #2B2C28;
}
p {
  color: #000000;
}
.card {
  width: 50%;
  background-color: #D2FDFF;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 20px;
}
h3 {
  text-decoration: underline;
  color: #2B2C28;
}
other colors: #3ABEFF #26FFE6
